.docs {

  h1 {
    margin-bottom: $baseheight/2;
    font-size: $font-size-h3;
    color: $brand-color-lightblue;
    @include media($tablet){
      font-size: $font-size-h2;
    }
  }

  p {
    font-size: $font-size-h5;
  }

}

.doc-group {

  position: relative;
  overflow: hidden;

  h1 {
    margin-bottom: $baseheight/2;
    border-top: 1px solid lighten($brand-color-grey,40%);
    font-size: $font-size-h4;
    line-height: 2;
    color: $brand-color-bluegreen;
    @include media($tablet){
      font-size: $font-size-h3;
    }
    &:hover {
      cursor: pointer;
    }
  }

  ul {

    margin: 0 0 $baseheight;
    padding: 0;
    list-style-type: none;

    // ------------------------------------------------------------------
    // Document List w Icons
    // - icon absolutely positioned to stay at top left
    // - vertically center link text on icon
    // - tricky part: multi-line link text at small breakpoints
    //   - the main reason you can't easily line-up icon and link text
    // ------------------------------------------------------------------

    a {

      display: block;
      position: relative;
      overflow: hidden;
      min-height: 54px; // needed to create space below icon (whitespace below icon equal to above it)
      margin-bottom: $baseheight/4;
      padding: $baseheight/2 $basespace/4 $baseheight/2 $basespace*1.5;
      font-size: $font-size-h4;
      line-height: 1.52380952380952; // 32px - the height of the padded icon
      color: #fff;
      background-color: $brand-color-bluegreen;
      border-radius: 3px;
      transition: background .1s;

      &:hover {
        background-color: lighten($brand-color-bluegreen,5%);
      }

      // pseudo element for icon; icon determined by class (listed in _icons.scss)
      &:before {
        position: absolute;
        top: $baseheight/2;
        left: $basespace/4;
        width: $basespace/1.25;
        height: $basespace/1.25;
        font-size: $font-size-sub2;
        text-align: center;
        line-height: 2;
        background-color: darken($brand-color-bluegreen,5%);
        border-radius: 50%;
      }

    }

  }

  // toggle icon for link list
  .toggle-group {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: $baseheight/3;
    padding: 0 $basespace/4;
    @extend .font-sans-cond-light;
    font-size: $font-size-base;
    line-height: 2;
    text-transform: uppercase;
    color: $brand-color-bluegreen;
    background-color: lighten($brand-color-grey,40%);
    border-radius: 3px;
    transition: background .1s;
    &:hover {
      cursor: pointer;
      background-color: lighten($brand-color-grey,35%);
    }
  }

}

// class added via jquery to open menu
.js-open-group {

  max-height: $baseheight*50;
  transition: max-height .4s;

  .toggle-group:before {
    content: '\e801';
  }

}

// class added via jquery to close menu
.js-close-group {

  overflow: hidden;
  max-height: $baseheight*2;
  transition: max-height .4s;

  .toggle-group:before {
    content: '\e800';
  }

}
